<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.custom.DisplaySleeper</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/sagar/Applications/Mac Apps/DisplaySleeper/DisplaySleeper.app/Contents/MacOS/DisplaySleeper</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>StandardOutPath</key>
    <string>/Users/sagar/Library/Logs/DisplaySleeper.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sagar/Library/Logs/DisplaySleeper.log</string>
</dict>
</plist>
